* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  height: 100vh;
  position: relative;
}
canvas {
    border: black 4px solid;
}
.page{
  height: 100dvh;
}
#page1{
  background:#190482;
}
#page2{
  background:#ffdd83;
}